tiktoken==0.9.0
openai==1.96.1
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-text-splitters==0.3.8
streamlit==1.47.0
PyMuPDF==1.26.3
faiss-cpu==1.11.0.post1
numpy
pycountry==24.6.1